deployment/docker/web/filebeat/filebeat filter=lfs diff=lfs merge=lfs -text
deployment/docker/web/metricbeat/metricbeat filter=lfs diff=lfs merge=lfs -text
deployment/docker/redis/redis/metricbeat/metricbeat filter=lfs diff=lfs merge=lfs -text
