[Unit]
Description=Misago Web Server
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/opt/misago
EnvironmentFile=/opt/misago/.env
ExecStart=python3 manage.py runserver 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
